<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>meet & greet</h1>

			<div class="videobox1">
				<iframe width="640" height="360" src="https://www.youtube.com/embed/b58qxV95hnk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<p> dupp&swat, a playbox of sorts, is the host venue for Charlotte’s most creative and entertaining events. Complete with a quirky, feel-good, yet intimate setting, this studio transforms, effortlessly, for everything from Art exhibitions to Zen-filled yoga classes. Swing by the NoDa studio for an upcoming event and connect with the Queen City’s creative culture.</br>
			Venue rental: info@duppandswat.com 
			</p>
			<div class="socialbox">
				<a href="http://www.duppandswat.tumblr.com/" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
				<a href="https://www.facebook.com/DuppSwat" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/duppANDswat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://instagram.com/duppandswat#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/user/duppandswat" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="insta-box">
			<!-- SnapWidget -->
			<iframe src="http://snapwidget.com/sc/?u=ZHVwcGFuZHN3YXR8aW58MjAwfDN8M3x8bm98NXxub25lfHx5ZXM=&v=18614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:200px"></iframe>
		</div>



	</div>