<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>now serving</h1>

			<p>
			dupp&swat provides a variety of services ranging from event planning to wardrobe styling, how may we be of assistance?

			Including beauty, wardrobe styling, photo & video shoots, venue rental, designer showroom, personal shopping, catering, closet analysis, graphic design, event planning and galleries.</br></br>

			Contact at info@duppandswat.com
			</p>
		</div>

	</div>