<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>community board</h1>

			<h1>coming soon...</h1>

		</div>

	</div>