<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>happening now</h1>

			<p>DUPP&SWAT, a playbox of sorts, is the host venue for Charlotte’s most creative and entertaining events. Complete with a quirky, feel-good, yet intimate setting, this studio transforms, effortlessly, for everything from Art Exhibitions to Zen-Filled Yoga Classes. Check the schedule below to see what's 'HAPPENING NOW' at both of our Charlotte locations. </br></br>Want to inquire about an event? Contact us at info@duppandswat.com.
			</p>


		</div>

			<div class="calendar-box">
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=duppandswat%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>

			</div>
			
			<div class="calendar-box2">
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=duppandswat%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>

			</div>
	</div>