
	<div class="grid">
		<div class="grid-item">
			<div class="secondarybox">

				<div class="bigbox">
					<div class="bigcircle pinkcircle">


					</div>

				</div>

				<div class="recbox">

					<div class="smallbox">
						<div class="smallcircle purplecircle">

						</div>

					</div>

					<div class="smallbox">
						<div class="smallcircle bluecircle">

						</div>

					</div>
				</div>


			</div>
		</div>
	<div class="grid-item">
		<div class="secondarybox">

			<div class="bigbox">
				<div class="bigcircle orangecircle">


				</div>

			</div>

			<div class="recbox">

				<div class="smallbox">
					<div class="smallcircle yellowcircle">

					</div>

				</div>

				<div class="smallbox">
					<div class="smallcircle pinkcircle">

					</div>

				</div>
			</div>


		</div>
	</div>
		<div class="grid-item">
			<div class="secondarybox">


				<div class="recbox">

					<div class="smallbox">
						<div class="smallcircle orangecircle">

						</div>

					</div>
					
					<div class="smallbox">
						<div class="smallcircle yellowcircle">

						</div>

					</div>
				</div>


				<div class="bigbox">
					<div class="bigcircle purplecircle">


					</div>

				</div>

			</div>
		</div>


	<div class="grid-item">
		<div class="secondarybox">


			<div class="recbox">

				<div class="smallbox">
					<div class="smallcircle yellowcircle">

					</div>

				</div>
				
				<div class="smallbox">
					<div class="smallcircle pinkcircle">

					</div>

				</div>
			</div>


			<div class="bigbox">
				<div class="bigcircle bluecircle">


				</div>

			</div>
			
		</div>
	</div>
	</div>


<script>

$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 623
});

</script>