<div class="backgroundpic1">
</div>

<div class="pagesection">
	<%= render 'layouts/subheader' %>

	<div class="pageheader">
		<h1>rent venue</h1>

		<%= image_tag 'rentvenue.jpg', :class => "headerimage2" %>

		<p>Quote includes an hour for both set-up and breakdown. </br></br>To inquire about an event, contact us at info@duppandswat.com.</p>
	</div>


	</div>