<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>contact us</h1>

			<h1>980.224.2128</h1>

			<h1>info@duppandswat.com</h1>



			<p></p>
			<div class="socialbox">
				<a href="http://www.duppandswat.tumblr.com/" target="_blank"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
				<a href="https://www.facebook.com/DuppSwat" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://twitter.com/duppANDswat" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a href="http://instagram.com/duppandswat#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				<a href="https://www.youtube.com/user/duppandswat" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
			</div>
		</div>




	</div>