<div class="backgroundpic1">
</div>

<div class="pagesection">
	<%= render 'layouts/subheader' %>

	<div class="pageheader">
		<h1>the concept</h1>

			<div class="videobox1">
				<iframe width="640" height="360" src="https://www.youtube.com/embed/oqoG9pgnoOQ?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

		<p>Our newest addition, DUPP&SWAT: THE CONCEPT is located at 1824 Statesville Ave, Ste 109 (Raceway Building @ Camp North End) and operates in a different vein than 'THE STUDIO.' Coined 'THE CONCEPT,' the theme and, therefore, look of the space will transform every six months as we collaborate with various individuals and organizations for curating purposes. More, themes will vary from 'real, harsh, and heavy' to 'crazy, quirky and over-the-top' to create an experience unlike any in Charlotte. Here, the goal is to partner with entities to further propel their mission and purpose over the course. And, in addition to taking donations on behalf of the guest collaborator, they are allowed to use our space for specific events associated with their purpose. </br></br>Feel free to contact us at info@duppandswat.com if you have questions/comments. </br></br> Urban Ministry Center (UMC) has been a fixture in Charlotte since 1994 providing basic services (soup kitchen, showers, laundry, mail) for our neighbors experiencing homelessness; today they continue to help people on a path out of homelessness with those services, but have also hit on the answer to ending chronic homelessness. The Housing First Charlotte Mecklenburg initiative is a partnership of 28 nonprofits, government offices, churches and corporations managed by Urban Ministry Center. Together they have worked to house over 533 chronically homeless individuals since they began in February 2015. As the initiative wraps up they are asking the community for help in providing 200 Welcome Home Kits to help the remaining chronically homeless individuals find their way to a new home. For additional information, please visit: www.urbanministrycenter.org.</p>
	</div>

		<div class="sectionstudio">

			<div class="studio-info">
			<div class="subheader-section2">
			Store Hours:
			</div><div class="clear"></div>
			<ul>
			<li>Wed: 1pm - 7pm</li>
			<li>Thu: 1pm - 7pm</li>
			<li>Fri: 1pm - 7pm</li>
			<li>Sat: Event / Appt.</li>
			<li>Sun: Event / Appt.</li>
			<li>Mon: Event / Appt.</li>
			<li>Tue: Event / Appt.</li>
			<li></br>(Open Longer, If Having An Event)</li>
			</ul>
			<div class="subheader-section2">
			Location:
			</div><div class="clear"></div>
			<div class="location-address">1824 Statesville Ave, Ste 109</br>Charlotte, NC 28206</div>
			</div>

			<div class="studio-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13033.243717996214!2d-80.82865126987264!3d35.24851970682094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a042f77fa147%3A0x45c61a50ae3c22f4!2s1824+Statesville+Ave%2C+Charlotte%2C+NC+28206!5e0!3m2!1sen!2sus!4v1501179870366" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>

		</div>

	</div>