<div class="backgroundpic1">
	</div>

	<div class="pagesection">
	
		<%= render 'layouts/subheader' %>

		<div class="pageheader">
			<h1>window shopping</h1>

			<p>Please return to view and shop exclusive DUPP&SWAT merchandise.</br></br>COMING SOON...</p>


		</div>

	</div>