/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {z-index: 1000;}

.logo-head2 {
	float: left;
	width: 20%;
	margin: 10px 40%;
}

.navbar-brand {
	float: left;
	font-size: 18px;
	height: auto !important;
	line-height: 20px;
	padding: 0 !important;
}

.location1 {cursor: pointer; font-family: Myriad Pro, sans-serif; font-style: italic; font-weight: 700; position: absolute; left: 10px; top: 25px; color: #fff; font-size: 48px; line-height: 18px;}
.location2 {cursor: pointer; font-family: Myriad Pro, sans-serif; font-style: italic; font-weight: 700; position: absolute; right: 10px; top: 25px; color: #fff; font-size: 48px; line-height: 18px; text-align: right;}
.location1 span {font-size: 18px; text-align: left;}
.location2 span {font-size: 18px; text-align: right;}

@media screen and (max-width: 640px){
	.location1 {font-size: 16px; line-height: 10px;}
	.location2 {font-size: 16px; line-height: 10px; text-align: right;}
	.location1 span {font-size: 10px; text-align: left;}
	.location2 span {font-size: 10px; text-align: right;}
}