// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// the studio
.backgroundpic1 {position: fixed; width: 100%; height: 100%; background: url("studio-background.png"); z-index: 1; background-size: auto 100%;}
.pagesection {position: absolute; top:100%; left: 0; width: 100%; margin: 0 0 0 0; padding: 0; z-index: 2;}
.pageheader {float: left; width: 60%; margin: 150px 20%; padding: 0; font-family: "proxima-nova",sans-serif; font-weight: 700; text-align: center;}
.pageheader h1 {font-size: 64px; line-height: 64px; color: #fff;}
.pageheader p {font-size: 24px; line-height: 30px; color: #fff;}
.sectionstudio {background-color: #000; float: left; width: 60%; height: auto; margin: 0; padding: 50px 20%; font-family: "purista-web",sans-serif;}
.sectionstudio h1 {font-size: 36px; line-height: 36px; color: #fff;}
.studio-map {float: left; width: 50%;}
.studio-info {float: left; width: 50%; color: #fff; font-family: "purista-web",sans-serif; font-size: 18px; line-height: 24px;}
.studio-info ul {list-style-type: none;}

.photostudio-box {float: left; margin: 25px 0;}
.studioimage {float: left; width: 33.3%;}

.scrolldown {position: fixed; text-align: center; font-family: "purista-web",sans-serif; bottom: 0px; left: 0; font-size: 24px; padding: 5px 10px; width: 100%; color: #fff;}

html body {margin: 0; padding: 0;}
.homesection {max-width: 1230px; width: 100%; margin: 5px auto; height: auto;}
.mainbox {float: left; width: 610px; padding: 2.5px 0 2.5px 2.5px; height: auto; background-color:#d3d3d3;}
.bottombox {float: left; width: 610px; padding: 2.5px 2.5px 2.5px 0; height: auto; background-color:#d3d3d3;}
.secondarybox {float: left; width: 610px; margin: 0px; height: auto; background-color:#d3d3d3;}
.bigbox {float: left; width: 400px; height: 405px; margin: 2.5px; background-color:#fff;}
.recbox {float: left; width: 205px; height: 405px;}
.smallbox {float: left; width: 200px; height: 200px; margin: 2.5px; background-color:#fff;}
.bigcircle {position: relative; margin: 50px; width: 300px; height: 300px; border-radius: 150px; transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; -o-transition: all 1s ease 0s;}
.smallcircle {position: relative; margin: 25px; width: 150px; height: 150px; border-radius: 150px; transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s; -moz-transition: all 1s ease 0s; -o-transition: all 1s ease 0s;}
.pinkcircle {background-color: #ec008c;}
.purplecircle {background-color: #662d91;}
.bluecircle {background-color: #00aeef;}
.orangecircle {background-color: #f26522;}
.yellowcircle {background-color: #39A251;}

.bigcircle.expand {position: relative; margin: 0px; width: 100%; height: 100%; border-radius: 0px;}
.smallcircle.expand {position: relative; margin: 0px; width: 100%; height: 100%; border-radius: 0px;}

.boxtitle {text-transform: lowercase; font-size: 16px; position: relative; bottom: 20px; left: 5px; text-align: left; font-family: "proxima-nova",sans-serif; font-weight: 700;}

.pinkfont {color: #ec008c;}
.purplefont {color: #662d91;}
.bluefont {color: #00aeef;}
.orangefont {color: #f26522;}
.yellowfont {color: #39A251;}

.boxtitle.expand {color:#fff;}


.randomimage1  {float: left; margin: 50px; width: 200px; height: 200px;}
.randomimage2  {float: left; margin: 15px 35px 35px 15px; width: 100px; height: 100px;}
.randomimage3  {float: left; margin: 25px; width: 100px; height: 100px;}
.randomimage4  {float: left;  margin: 70px 30px 30px 70px; width: 200px; height: 200px;}
.randomimage5  {float: left; margin: 15px 35px 35px 15px; width: 100px; height: 100px;}
.randomimage6  {float: left; margin: 25px 15px 25px 35px; width: 100px; height: 100px;}
.randomimage7  {float: left; margin: 25px; width: 100px; height: 100px;}
.randomimage8  {float: left; margin: 35px 15px 15px 35px; width: 100px; height: 100px;}
.randomimage9  {float: left; margin: 30px 30px 70px 70px; width: 200px; height: 200px;}
.randomimage10  {float: left; margin: 10px 25px 40px 25px; width: 100px; height: 100px;}
.randomimage11 {float: left; margin: 10px 40px 40px 10px; width: 100px; height: 100px;}
.randomimage12 {float: left; margin: 85px 40px 15px 60px; width: 200px; height: 200px;}


.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

//home page
.bscontainer-fluid {margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; background-color: #fff; font-family: "proxima-nova",sans-serif;}
.bsrow {margin-left: -15px; margin-right: -15px;}
#demo-wrapper {display: block; min-height: 0px; height: auto; margin: 0 auto; overflow: hidden; width: 100%; background-color: #fff;}
#demo-canvas {color: #fff; font-size: 20px; height: 100%; position: relative; text-align: center; transform: translate3d(0px, 0px, 0px); transition: all 0.6s ease 0s; width: 100%;}
#demo-canvas .centertop {min-height: 600px; height: auto; margin: 0 auto; width: 75%;}
#demo-canvas .centertop h1 {color: #e74c3c; font-size: 40px; font-weight: 300; margin-bottom: 20px; position: relative; z-index: 2;}
#demo-canvas .centertop .image-part1 {position: relative; width: 100%;}
.bikeimage {width: 60%; margin: 0 20%; position: relative; height: auto;}
.bikeimage3 {width: 50%; margin: 0 25%; position: relative; height: auto;}
.bikeimage2 {width: 70%; margin: 0 15%; position: relative; height: auto; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg);}
#partner-menu {color: #000; display: block; font-size: 14px; height: 100%; left: -60%; position: absolute; text-align: center; top: 0; width: 65%;}
#exhibit-menu {color: #000; display: block; font-size: 14px; height: 100%; position: absolute; right: -60%; text-align: center; top: 0; width: 65%;}
#exhibitwrap {display: block; height: 600px; margin: 0 auto; position: relative; z-index: 999;}
#exhibitcircle {display: block; height: auto; left: -150px; margin: 0px auto; position: absolute; top: 0%; width: 320px;}
#exhibit-content {float: right; height: 400px; margin-right: 0%; margin-top: 14%; width: 100%;}
#exhibit-content h2 {color: #ec008c; font-size: 40px; position: relative; text-align: left; text-transform: uppercase; margin: 0 0 0 15%;}
#partner-content h2 {color: #00aeef; font-size: 40px; position: relative; text-align: left; text-transform: uppercase; margin: 0 0 0 0%;}
#exhibitside {color: #ec008c; font-size: 30px; position: relative; text-align: left; width: 50%; margin: 25px 0 0 15%;}
#partnerside {color: #00aeef; font-size: 30px; position: relative; text-align: left;  width: 50%; margin: 25px 15% 0 0;}
.learnmore {float: left; color: #7f8c8d;}
#contact-exhibit {clear: left; margin: 10px 0 0 0; border: 3px solid #f5cd0c; color: #f5cd0c; float: left;}
#contact-partner {clear: both; margin: 10px 0 0 0; border: 3px solid #20a286; color: #20a286; float: left;}
#partnerwrap {display: block; min-height: 600px; height: auto; margin: 0 auto; position: relative; z-index: 999;}
#partnercircle {display: block; height: auto; margin: 0px auto; position: absolute; right: -150px; top: 0%; width: 320px;}
#partner-content {float: left; height: 400px; margin-left: 10%; margin-top: 14%; width: 100%;}
#exhibitcircle span {font-size: 30px; font-weight: 600; left: -32px; position: relative; top: 40%;}
#partnercircle span {font-size: 30px; font-weight: 600; left: 60px; position: relative; top: 40%;}
img#arrowexhibit {border: 0 none; height: 4rem; position: relative; right: 30px; top: 120px; vertical-align: middle;}
img#arrowpartner {height: 4rem; position: relative; right: 105px; top: 120px; vertical-align: middle; border: 0 none;}

#homecontact {background-color: rgba(255,255,255,0); bottom: 0; cursor: pointer; left: 0; padding: 0; position: absolute; text-align: center; transition: all .6s ease 0s; -webkit-transition: all .6s ease 0s; -moz-transition: all .6s ease 0s; -o-transition: all .6s ease 0s; width: 100%; z-index:100;}
.contact-button {background-color: #fff; border: 3px solid #e74c3c; border-radius: 20px; color: #e74c3c; padding: 5px 10px; margin: 5px 0;}
.contact-button:hover {background-color: #e74c3c; border: 3px solid #e74c3c; border-radius: 20px; color: #fff; padding: 5px 10px; margin: 5px 0;}
#contact-exhibit:hover {background-color: #f5cd0c; clear: left; margin: 10px 0 0 0; border: 3px solid #f5cd0c; color: #fff; float: left;}
#contact-partner:hover {background-color: #20a286; clear: both; margin: 10px 0 0 0; border: 3px solid #20a286; color: #fff; float: left;}

.learnmore:hover {text-decoration: none; color: #e74c3c;}
    //css animation
    #demo-wrapper.show-nav #demo-canvas {transform: translateX(60%);}
    #demo-wrapper.show-nav2 #demo-canvas {transform: translateX(-60%);}

    .movedown {margin-top: 15px; margin-bottom: 0px !important; transition: all .6s ease 0s; -webkit-transition: all .6s ease 0s; -moz-transition: all .6s ease 0s; -o-transition: all .6s ease 0s; transform: rotate(90deg);}
    .clockwise180 {transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -moz-transform: rotate(-180deg); -ms-transform: rotate(-180deg); -o-transform: rotate(-180deg); transition: all 1.2s ease 0s; -webkit-transition: all 1.2s ease 0s; -moz-transition: all 1.2s ease 0s; -o-transition: all 1.2s ease 0s;}
    .counterclockwise90 {transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transition: all 1.2s ease 0s; -webkit-transition: all 1.2s ease 0s; -moz-transition: all 1.2s ease 0s; -o-transition: all 1.2s ease 0s;}
    .clockwise0 {transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transition: all 1.2s ease 0s; -webkit-transition: all 1.2s ease 0s; -moz-transition: all 1.2s ease 0s; -o-transition: all 1.2s ease 0s;}
    .opacity {opacity: 0; transition: all 0.4s ease 0s; -webkit-transition: all 0.4s ease 0s; -moz-transition: all 0.4s ease 0s; -o-transition: all 0.4s ease 0s;}


@media screen and (max-width: 1230px){
.homesection {max-width: 615px; width: 100%; margin: 0 auto; height: auto;}
.mainbox {padding: 2.5px 2.5px 0 2.5px;}
.bottombox {padding: 0 2.5px 2.5px 2.5px;}
}


@media screen and (max-width: 640px){
.mainbox {float: left; width: 100%; height: auto; padding: 2.5px 2.5px 0 2.5px;}
.bottombox {float: left; width: 100%; height: auto; padding: 0 2.5px 2.5px 2.5px;}
.secondarybox {float: left; width: 100%; height: auto;}
.bigbox {float: left; width: 400px; height: 405px; margin: 2.5px;}
.recbox {float: left; width: 205px; height: 405px;}
.smallbox {float: left; width: 200px; height: 200px;}


}