<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

    	<div id="partnercirclex" class="location1">the STUDIO</br><span>2525 Plaza Rd</span></div>

          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag 'duppandswat-logo2.png', :class => "logo-head2" %>
          <% end %>

      <div  id="exhibitcirclex" class="location2">the CONCEPT</br><span>2525 Statesville Rd</span></div>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div><!-- /.container-fluid -->
</nav>