<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <%= link_to home_path, remote: true , data: { no_turbolink: true } do %>
        <div class="backbutton">
          <i class="fa fa-chevron-left"></i> go back home
        </div>
        <% end %>

      <% if false %>
    	<div id="partnercirclex" class="location1">the STUDIO</br><span>2525 Plaza Rd</span></div>
      <% end %>
          <%= link_to root_path, class: "navbar-brand" do %>
            <%= image_tag 'duppandswat-logo2.png', :class => "logo-head2" %>
          <% end %>
      <% if false %>
      <div  id="exhibitcirclex" class="location2">the CONCEPT</br><span>2525 Statesville Rd</span></div>
      <% end %>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div><!-- /.container-fluid -->
</nav>

<script>
 $(".backbutton").click(function(){
  $(".happeningnow").toggleClass("nodisplay");
});

 </script>